In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
churn_df = pd.read_csv("https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/churn_data_st.csv")

In [3]:
churn_df.head()

   customerID  gender  SeniorCitizen  ...  MonthlyCharges  TotalCharges Churn
0  7590-VHVEG  Female              0  ...           29.85         29.85    No
1  5575-GNVDE    Male              0  ...           56.95       1889.50    No
2  3668-QPYBK    Male              0  ...           53.85        108.15   Yes
3  7795-CFOCW    Male              0  ...           42.30       1840.75    No
4  9237-HQITU  Female              0  ...           70.70        151.65   Yes

[5 rows x 10 columns]

In [4]:
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   tenure            7043 non-null   int64
 4   ServiceCount      7043 non-null   int64
 5   Contract          7043 non-null   object
 6   PaperlessBilling  7043 non-null   object
 7   MonthlyCharges    7043 non-null   float64
 8   TotalCharges      7016 non-null   float64
 9   Churn             7043 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 550.4+ KB

In [5]:
churn_df["Churn"].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [6]:
churn_df.isnull().any()

customerID          False
gender              False
SeniorCitizen       False
tenure              False
ServiceCount        False
Contract            False
PaperlessBilling    False
MonthlyCharges      False
TotalCharges         True
Churn               False
dtype: bool