Data Link: https://www.kaggle.com/parulpandey/2020-it-salary-survey-for-eu-region

In [ ]:
!pip install -U pandas-profiling

Collecting pandas-profiling
  Downloading https://files.pythonhosted.org/packages/3b/a3/34519d16e5ebe69bad30c5526deea2c3912634ced7f9b5e6e0bb9dbbd567/pandas_profiling-3.0.0-py2.py3-none-any.whl (248kB)
     |████████████████████████████████| 256kB 28.3MB/s
Requirement already satisfied, skipping upgrade: matplotlib>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (3.2.2)
Collecting phik>=0.11.1
  Downloading https://files.pythonhosted.org/packages/b7/ce/193e8ddf62d4be643b9b4b20e8e9c63b2f6a20f92778c0410c629f89bdaa/phik-0.11.2.tar.gz (1.1MB)
     |████████████████████████████████| 1.1MB 33.9MB/s
Collecting PyYAML>=5.0.0
  Downloading https://files.pythonhosted.org/packages/7a/a5/393c087efdc78091afa2af9f1378762f9821c9c1d7a22c5753fb5ac5f97a/PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636kB)
     |████████████████████████████████| 645kB 34.4MB/s
Collecting htmlmin>=0.1.12
  Downloading https://files.pythonhosted.org/packages/b3/e7/fcd59e12169de19f0131ff2812077f964c6b960e7c09804d30a7bf2ab461/htmlmin-0.1.12.tar.gz
Requirement already satisfied, skipping upgrade: missingno>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.4.2)
Requirement already satisfied, skipping upgrade: seaborn>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (0.11.1)
Collecting visions[type_image_path]==0.7.1
  Downloading https://files.pythonhosted.org/packages/80/96/01e4ba22cef96ae5035dbcf0451c2f4f859f8f17393b98406b23f0034279/visions-0.7.1-py3-none-any.whl (102kB)
     |████████████████████████████████| 112kB 44.0MB/s
Collecting pydantic>=1.8.1
  Downloading https://files.pythonhosted.org/packages/9f/f2/2d5425efe57f6c4e06cbe5e587c1fd16929dcf0eb90bd4d3d1e1c97d1151/pydantic-1.8.2-cp37-cp37m-manylinux2014_x86_64.whl (10.1MB)
     |████████████████████████████████| 10.1MB 40.9MB/s
Requirement already satisfied, skipping upgrade: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.1.5)
Requirement already satisfied, skipping upgrade: joblib in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.0.1)
Requirement already satisfied, skipping upgrade: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.19.5)
Requirement already satisfied, skipping upgrade: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.4.1)
Collecting requests>=2.24.0
  Downloading https://files.pythonhosted.org/packages/29/c1/24814557f1d22c56d50280771a17307e6bf87b70727d975fd6b2ce6b014a/requests-2.25.1-py2.py3-none-any.whl (61kB)
     |████████████████████████████████| 61kB 7.2MB/s
Requirement already satisfied, skipping upgrade: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (2.11.3)
Collecting tqdm>=4.48.2
  Downloading https://files.pythonhosted.org/packages/b4/20/9f1e974bb4761128fc0d0a32813eaa92827309b1756c4b892d28adfb4415/tqdm-4.61.1-py2.py3-none-any.whl (75kB)
     |████████████████████████████████| 81kB 9.6MB/s
Collecting tangled-up-in-unicode==0.1.0
  Downloading https://files.pythonhosted.org/packages/93/3e/cb354fb2097fcf2fd5b5a342b10ae2a6e9363ba435b64e3e00c414064bc7/tangled_up_in_unicode-0.1.0-py3-none-any.whl (3.1MB)
     |████████████████████████████████| 3.1MB 36.5MB/s
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.7)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.1)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling) (1.3.1)
Requirement already satisfied, skipping upgrade: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (21.2.0)
Collecting multimethod==1.4
  Downloading https://files.pythonhosted.org/packages/7a/d0/ce5ad0392aa12645b7ad91a5983d6b625b704b021d9cd48c587630c1a9ac/multimethod-1.4-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: bottleneck in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (1.3.2)
Requirement already satisfied, skipping upgrade: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (2.5.1)

In [15]:
import pandas as pd
import numpy as np
import glob
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import plotly.express as px
from pandas_profiling import ProfileReport

In [8]:
glob.glob("IT Salary Survey EU*.csv")

['IT Salary Survey EU  2020.csv',
 'IT Salary Survey EU 2019.csv',
 'IT Salary Survey EU 2018.csv']

In [9]:
df = pd.concat(map(pd.read_csv, glob.glob("IT Salary Survey EU*.csv")))

In [10]:
df.head()

             Timestamp  ...  Are you getting any Stock Options?
0  24/11/2020 11:14:15  ...                                 NaN
1  24/11/2020 11:14:16  ...                                 NaN
2  24/11/2020 11:14:21  ...                                 NaN
3  24/11/2020 11:15:24  ...                                 NaN
4  24/11/2020 11:15:46  ...                                 NaN

[5 rows x 42 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3009 entries, 0 to 764
Data columns (total 42 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Timestamp                                                                                                                2018 non-null   object
 1   Age                                                                                                                      2780 non-null   float64
 2   Gender                                                                                                                   2985 non-null   object
 3   City                                                                                                                     2980 non-null   object
 4   Position                                                                                                                 1247 non-null   object
 5   Total years of experience                                                                                                1237 non-null   object
 6   Years of experience in Germany                                                                                           1221 non-null   object
 7   Seniority level                                                                                                          2217 non-null   object
 8   Your main technology / programming language                                                                              2103 non-null   object
 9   Other technologies/programming languages you use often                                                                   1096 non-null   object
 10  Yearly brutto salary (without bonus and stocks) in EUR                                                                   1253 non-null   float64
 11  Yearly bonus + stocks in EUR                                                                                             829 non-null    object
 12  Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                 885 non-null    float64
 13  Annual bonus+stocks one year ago. Only answer if staying in same country                                                 614 non-null    object
 14  Number of vacation days                                                                                                  2116 non-null   object
 15  Employment status                                                                                                        1236 non-null   object
 16  Сontract duration                                                                                                        2186 non-null   object
 17  Main language at work                                                                                                    2973 non-null   object
 18  Company size                                                                                                             2962 non-null   object
 19  Company type                                                                                                             2918 non-null   object
 20  Have you lost your job due to the coronavirus outbreak?                                                                  1233 non-null   object
 21  Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                        373 non-null    float64
 22  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR  462 non-null    object
 23  Zeitstempel                                                                                                              991 non-null    object
 24  Position (without seniority)                                                                                             990 non-null    object
 25  Years of experience                                                                                                      1723 non-null   float64
 26  Yearly brutto salary (without bonus and stocks)                                                                          990 non-null    float64
 27  Yearly bonus                                                                                                             530 non-null    float64
 28  Yearly stocks                                                                                                            203 non-null    float64
 29  Yearly brutto salary (without bonus and stocks) one year ago. Only answer if staying in same country                     603 non-null    float64
 30  Yearly bonus one year ago. Only answer if staying in same country                                                        257 non-null    float64
 31  Yearly stocks one year ago. Only answer if staying in same country                                                       139 non-null    float64
 32  Number of home office days per month                                                                                     639 non-null    float64
 33  Company name                                                                                                             257 non-null    object
 34  Company business sector                                                                                                  846 non-null    object
 35  0                                                                                                                        0 non-null      float64
 36  Position                                                                                                                 737 non-null    object
 37  Your level                                                                                                               743 non-null    object
 38  Current Salary                                                                                                           750 non-null    float64
 39  Salary one year ago                                                                                                      596 non-null    float64
 40  Salary two years ago                                                                                                     463 non-null    float64
 41  Are you getting any Stock Options?                                                                                       742 non-null    object
dtypes: float64(16), object(26)
memory usage: 1010.8+ KB

There are so many columns. Lets do pandas profiling to automate quick glance at the data.

In [18]:
profile = ProfileReport(df, title="IT Salary Survey", explorative=False)

TypeError: ignored